@media screen and (min-width : 857px) {
  img{
    align-items: center;
    position: absolute;
    width:700px;
    height: 580px;
    margin-left: 25%;
  
  }

  .carousel-item{
    width:1000px;
    height: 400px;
    align-items: center;
    display: flexbox;
   padding-right: 5px;
  

 
}
    
}


